body {
  background-color: white;
  font-family: Helvetica;
}

.imageClass {
  display: none;
}

.imageClass img {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7%;
}

.pianoClass {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-right: 35%;
}

.piano {
  display: flex;
  justify-content: left;
  margin-left: 10%;
  margin-top: 32px;
}

@media only screen and (max-width: 599px) {
  .pianoClass {
    display: none;
    }
  .piano {
    display: none;
  }
  .imageClass {
      display: block;
      text-align: center;
      font-family: Helvetica;
      font-size: 16px;
      margin-bottom: auto;
  }
}

.button {
  border-radius: 8px;
  background-color: #e9e9ed;
  border: 2px solid #a3a3ae;
  cursor: pointer;
  appearance: none;
  align-items : center;
}

.button:hover {
  background-color: #e9e9ed;
  color: #989898
  ;
}


.record {
  display: flex;
  justify-content : center;
  align-items: center;
  margin-left: auto;
  margin-right: 59%;
  padding-left: 40px;
}

.key {
  display: inline-block;
  border: 1px solid #a3a3ae;
  text-align: center;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.white-key {
  height: 100px;
  width: 9%;
  background-color: white;
  transition-duration: 0.4s;
  }

  .white-key:active {
   background-color: #989898;
  }

  .black-key {
    height: 75px;
    width: 4%;
    background-color: black;
    color: white;
    position: absolute;
    top: -12;
    transition-duration: 0.4s;
  }

  .black-key:active {
    background-color: #989898;
  }

  .c4 {
    margin-left: 6%;
  }
  .d4 {
    margin-left: 14%;
  }
  
  .f4 {
    margin-left: 30%;
  }
  .g4 {
    margin-left: 38%;
  }
  .bb4 {
    margin-left: 46%;
  }
  
  .c5 {
    margin-left: 61%;
  }
  .d5 {
    margin-left: 69%;
  }  

  .play {
  display: flex;
  align-items : center;

}


label {
  margin-right: 3px;
}

button {
  margin-right: 3px;
  width: 28px;
  height: 24px;
}

img {
  width: 16px;
  height: 16px;
  align-items : center
}

select {
  width: 20vw;
  background-color: #e9e9ed;
  border: 1px solid #a3a3ae;
  border-radius: 3px;
  margin-right: 3px;
}



