body {
  background-color: white;
  font-family: Helvetica;
}

.imageClass {
  display: none;
}

.imageClass img {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7%;
}

.pianoClass {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 5%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 599px) {
.pianoClass {
      display: none;
  }
  .imageClass {
      display: block;
      text-align: center;
      font-family: Helvetica;
      font-size: 16px;
      margin-bottom: auto;
  }
}

.button {
  border-radius: 8px;
  background-color: #e9e9ed;
  border: 2px solid #a3a3ae;
  cursor: pointer;
  appearance: none;
  align-items : center;
}

.record {
  display: flex;
  justify-content : center;
  align-items: center;
  margin-left: auto;
  margin-right: 59%;
  padding-left: 40px;
}

.piano {
  display: flex;
  justify-content: left;
}

.key {
  display: inline-block;
  border: 1px solid #a3a3ae;
  text-align: center;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.white-key {
  height: 100px;
  width: 75px;
  background-color: white;
}

.black-key {
  top: 0px;
  height: 75px;
  width: 50px;
  background-color: black;
  color: white;
}

  .play {
  display: flex;
  align-items : center;

}


label {
  margin-right: 3px;
}

button {
  margin-right: 3px;
  width: 28px;
  height: 24px;
}

img {
  width: 16px;
  height: 16px;
}

select {
  width: 20vw;
  background-color: #e9e9ed;
  border: 1px solid #a3a3ae;
  border-radius: 3px;
  margin-right: 3px;
}



