/* Var búin að finna beinagrind að takka, ákvað að henda inn css fyrir hann. Á eftir að aðlaga að okkar*/

* {
    margin: 0;
    padding: 0;
  }
  .button1 {
    border-radius: 8px;
    background-color: #e9e9ed;
    border: 2px solid #a3a3ae;
    cursor: pointer;
    appearance: none;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
  }
  
  img {
    width: 70px;
    height: 70px;
  }
  
  input[type='email'] {
    padding: 10px;
    border: 2px solid #314de4;
    outline: none;
    border-radius: 5px;
    font-size: 24px;
    color: #314de4;
  }
  
  .text {
    font-size: 60px;
    color: #314de4;
    font-family: Arial;
  }
      